body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*Header Section*/

header {
  display: flex;
  height: 69px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid seashell;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  z-index: 10;
  background-color: black;
}

.logo {
  height: 50px;
}

/*
.header li {
  list-style: none;
  display: inline-flex;
}
*/

nav {
  text-align: right;
}

nav span {
  display: inline-block;
  justify-content: flex-end;
  padding: 20px 10px;
}

nav a {
  text-decoration: underline;
  color: seashell;
}

/*End Header*/
/*Sizing*/
.main {
  padding-top: 69px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mission {
  display: flex;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.our-mission {
  display: flex;
  width: 1200px;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-wrap: wrap;
}

/*End Sizing*/
/*Text Attributes*/
h2 {
  display: block;
  margin: 0px;
  padding: 10px;
}

h4 {
  display: block;
  margin: 0px;
  padding: 10px;
}
/*End Text Attributes*/
